main {
    display: flexbox;
}

body {
    background-color: #f9f9f9;
}

h1 .element {
    font-size: 36px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: row;
    flex-wrap: wrap;
    height: 4rem;
    width: 100vw;
    background-color: rgb(34, 32, 32);
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    background-color: rgb(34, 32, 32);
}

.nav ul {
    padding: 0;
    background: inherit;
    top: 0;
    margin: 0;
    margin-right: 30px;
    font-family: sans-serif;
}

.nav ul li {
    background: rgb(34, 32, 32);
    position: relative;
    list-style: none;
    display: inline-block;
}

.nav ul li a {
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    border-radius: 13px;
}

.nav ul li a:hover {
    background: #783894;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.nav ul li:hover>ul {
    display: block;
}

.nav ul ul li {
    width: 120px;
    float: none;
    display: list-item;
    position: relative;
}

.nav ul ul li a {
    font-size: 16px;
}

.description {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    position: relative;
    text-align: center;
    height: 2rem;
    overflow: scroll;
}

.description::-webkit-scrollbar {
    display: none;
}

.container-iframe {
    height: auto;
    width: 100%;
    display: block;
}

.topic-iframe {
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    align-items: center;
    justify-content: center;
}

article {
    background-image: url(/banner-background.svg);
    border-radius: 35px;
    position: relative;
    margin: 3rem;
    text-align: center;
}

.about-section {
    border-radius: 35px;
    position: relative;
    margin: 3rem;
    text-align: center;
}

section {
    background-color: inherit;
    width: 100vw;
    text-align: center;
}

.research-section {
    text-align: right;
    justify-content: center;
    align-content: center;
}

.citations {
    margin-top: 8%;
    text-align: center;
    border-radius: 10px;
    background-image: url(/banner-background.svg);
}

.learnmore-links {
    text-decoration: none;
    color: black;
}

.title {
    border-radius: 35px;
    margin: 3.25%;
    padding: 5%;
    width: 80%;
    font-size: 56px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.video-title {
    font-size: 36px;
    padding-top: 3%;
}

iframe {
    border-radius: 12px;
    border: none;
}
